body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif; 
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
}
main{
    display: flex;
}
.l-side{
    margin-left: 119px;
    margin-top: 65px;
    width:700px;
}
.l-side img{
  transform:scale(1.1);
}
.r-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    margin-left: 78px;
    margin-top: 70px;
}
.r-side h1{
    font-size: 43px;
}
.r-side p{
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0;
    font-size: 16px;
    width: 495px;
}