body{
    margin: 0;
    padding:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif; 
}
main{
    display: flex;
}
.l-side img{
    width: 600px;
}